@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,500;1,500&family=Kanit:ital,wght@0,500;1,300;1,600&display=swap');
/*
font-family: 'Bebas Neue', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Kanit', sans-serif;
*/
*{
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.heading .logo{
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif, 'italic';
    font-style: italic;
    font-weight: 600;
    font-size: 23px;
    margin-top: 3px;

}
.logo .axo{
    font-family: 'Kanit', sans-serif;
}
.heading a{
    text-decoration: none;
    color: black;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;/*need to check this line*/
    
}
