@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,500;1,500&family=Kanit:ital,wght@0,500;1,300;1,600&display=swap');
/*
font-family: 'Bebas Neue', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Kanit', sans-serif;
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.heading .logo{
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif, 'italic';
    font-style: italic;
    font-weight: 600;
    font-size: 23px;

}
.logo .axo{
    font-family: 'Kanit', sans-serif;
}
.heading a{
    text-decoration: none;
    color: black;
}
.heading{
    width: 100%;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;/*need to check this line*/
    
}
.navbar{
    display: flex;
}
.navbar a{
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    transition: all .42s ease-out;
}
.navbar a:hover{
    color: red;
    font-size: 17.5px;

}
.icons i{
    margin-right: 20px;
    font-size: 20px;
    transition: all .42 ease;

}
.icons i:hover{
    color: red;
    transform: scale(1.1);
}
#menu{
    font-size: 34px;
    cursor: pointer;
    z-index: 10001;
}



section{
    padding: 5% 10%;
}
.main-home{
    width: 100%;
    height: 100vh;
    background-image: url(images/keychain.jpeg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}
.mainText i{
    font-size: 15px;
}
.mainText h5{
    color: red;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    font-family:'kanit', sans-serif;;
}
.mainText h1{
    font-size: 65px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: bold;
    font-family: 'Josefin Sans', 'sans-serif';
}
.mainText p{
    font-style: italic;
    font-size: 16px;
    
}

