@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,500;1,500&family=Kanit:ital,wght@0,500;1,300;1,600&display=swap');
/*
font-family: 'Bebas Neue', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Kanit', sans-serif;
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
}

.heading .logo{
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif, 'italic';
    font-style: italic;
    font-weight: 600;
    font-size: 23px;

}
.logo .axo{
    font-family: 'Kanit', sans-serif;
}
.heading a{
    text-decoration: none;
    color: black;
}
.heading{
    width: 100%;
}
header{
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;/*need to check this line*/
    
}
.navbar{
    display: flex;
}
.navbar a{
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    transition: all .42s ease-out;
}
.navbar a:hover{
    color: red;
    font-size: 17.5px;

}
.icons i{
    margin-right: 20px;
    font-size: 20px;
    transition: all .42 ease;

}
.icons i:hover{
    color: red;
    transform: scale(1.1);
}
#menu{
    font-size: 34px;
    cursor: pointer;
    z-index: 10001;
}



section{
    padding: 5% 2.75%;
}
.main-home{
    width: 100%;
    height: 100vh;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}
.mainText i{
    font-size: 15px;
}
.mainText h5{
    color: red;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    font-family:'kanit', sans-serif;;
}
.mainText h1{
    font-size: 65px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: bold;
    font-family: 'Josefin Sans', 'sans-serif';
}
.mainText .slide-images p{
    font-style: italic;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 300;

}
.main-btn{
    display: inline-block;
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid black;
    transition: all .42s;
    padding: 12px 25px;
}
.main-btn:hover{
    background-color: black;
    color: white;
}

.main-btn i{
    vertical-align: center;
}




/*Slideshow*/



.slider-frame{
    overflow: hidden;
    height: 600px;
    width: 1200px;

    margin-top: 20px;
}

@keyframes slide_animation{
    0% {left: -1200px;}
    10% {left: -1200px;}
    20% {left: 0px;}
    40% {left: 1200px;}
    50% {left: 2400px;}
    60% {left: 2400px;}
    70% {left: 1200px;}
    80% {left: 0px;}
    90% {left: -1200px;}
    100% {left: -1200px}
    

}



@-webkit-keyframes slide_animation{
    0% {left: -1200px;}
    10% {left: 0px;}
    20% {left: 1200px;}
    30% {left: 1200px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 1200px;}
    70% {left: 1200px;}
    80% {left: 0px;}
    90% {left: -1200px;}
    100% {left: 0px;}
}

.slide-images{
    width: 4800px;
    height: 600px;
    margin: 0 0 -2400px -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

.img-container4{
    height: 500px;
    width: 1200px;
    position: relative;
    float: left;
    background-image: url('image1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.img-container1{
    height: 500px;
    width: 1200px;
    position: relative;
    float: left;
    background-image: url('img_keychain\(1\).png');
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}
.slide-images h5{
    margin-left: 2%;
}

.slide-images h1{
    margin-left: 2%;
}

.slide-images p{
    margin-left: 2%;
}
.slide-images .main-btn{
    margin-left: 2%;
}

.img-container2{
    height: 500px;
    width: 1200px;
    position: relative;
    float: left;
    background-image: url('image3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img-container3{
    height: 500px;
    width: 1200px;
    position: relative;
    float: left;
    background-image: url('image4.png');
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;  
}







/*Products*/


.categories .row1{
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.categories h2{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
}
.cate1{
    background-color: white;
    width: 230px;
    height: 280px;
    border-radius: 5%;
    text-align: center;
    box-shadow: 2px 5px 8px #888888;
}







/*Reviews*/


.person1{
    background-color: gainsboro;
}
.reviews_slideshow {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}
.reviews_slideshow h2{
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 5%;
    margin-bottom: 2%;
    
}
._slideshow .comments{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    animation: slideshow 9s;
}


